#main-wrapper {
  background: $bg-dark;
  color: white;
  height: auto;
  padding: 0 0 80px 0;
  margin: 0 auto;

  h1 {
    margin: 0 !important;
  }
  @media (max-width: 992px) {
    width: 98%;
  }

  #main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .button {
    color: $bg-dark;
    margin: 15px 0 !important;
    font-size: 1.2rem;
    font-weight: 1000 !important;
    padding: 8px 20px;
    border-radius: 7px !important;
    box-shadow: 0px 0px 10px rgba(29, 29, 29, 0.5);
    @include buttonHoverAndFocus($info, $blue, 0.5s, 90%, 5%);

    &:focus,
    &:hover {
      background: lighten($blue, 10) !important;
    }
  }
}

#content-wrapper {
  height: max-content !important;
  background: $bg-dark;
  h1 {
    color: $gold;
    text-shadow: 5px 5px 10px rgb(28, 28, 28);
    font-weight: bold;
  }
}
#stats-container {
  background-color: rgba(lighten($bg-dark, 10), 0.5) !important;
  margin: 100px 20px 0 0;
  border-radius: 25px !important;
  border: 1px solid rgb(87, 87, 87);
  height: max-content;
  box-shadow: 2px 2px 8px rgba(77, 77, 77, 0.5);
  @media (max-width: 992px) {
    margin: 100px 0 0 0;
  }
  .card-body {
    background: lighten($bg-dark, 15);
    border: 1px solid $info;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#toggler {
  cursor: pointer;
  color: $info;
  padding: 1rem;
  background: $bg-dark;
  border: 1px solid $info;
  &:hover,
  &:focus {
    outline: none;
    background-color: lighten($bg-dark, 8);
  }
  @media (max-width: 992) {
    font-size: 0.8rem !important;
  }
}

#alert-container {
  margin-bottom: 50px;
  h6 {
    font-size: 1.3rem !important;
  }
  @media (max-width: 1400px) {
    width: 80% !important;
  }
  @media (max-width: 992px) {
    width: 99% !important;
  }
}
