#main-wrapper {
  background: $bg-dark;
  color: white;
  height: auto;
  padding: 0 0 80px 0;
  margin: 0 auto;

  h1 {
    margin: 0 !important;
  }
  @media (max-width: 992px) {
    width: 98%;
  }

  #main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .button {
    font-size: 1.2rem;
    font-weight: 1000 !important;
    padding: 8px 20px;
    border-radius: 0 !important;
    @include buttonHoverAndFocus($info, $blue, 0.5s);
    &:hover,
    &:focus {
      color: white;
    }
  }
}

#content-wrapper {
  height: max-content !important;
  background: $bg-dark;
  #content-container {
    padding-top: 100px;
  }
}
#stats-container {
  background-color: rgba(lighten($bg-dark, 10), 0.5) !important;
  margin: 100px 20px 0 0;
  border-radius: 25px !important;
  border: 1px solid rgb(87, 87, 87);
  height: max-content;
  box-shadow: 2px 2px 8px rgba(77, 77, 77, 0.5);
  @media (max-width: 992px) {
    margin: 100px 0 0 0;
  }
}

#toggler {
  cursor: pointer;
  color: $info;
  padding: 1rem;
  background: $bg-dark;
  border: 1px solid $info;
  &:hover,
  &:focus {
    outline: none;
    background-color: lighten($bg-dark, 8);
  }
  @media (max-width: 992) {
    font-size: 0.8rem !important;
  }
}

#alert-container {
  margin-bottom: 50px;
  h6 {
    font-size: 1.3rem !important;
  }
  @media (max-width: 1400px) {
    width: 80% !important;
  }
  @media (max-width: 992px) {
    width: 99% !important;
  }
}
