#content-container {
  h3 {
    color: white;
  }
}

#form-elements {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
  align-items: center;
  height: 3rem;
  width: 50%;
  padding: 0;
  @media (max-width: 992px) {
    flex-direction: column;
    height: max-content;
    width: 100%;
  }
  input {
    background-color: lighten($bg-dark, 20);
    background-image: url(../images/Search.svg);
    background-position: 10px;
    background-repeat: no-repeat;
    background-size: 20px;
    color: white;
    height: inherit;
    width: 100%;
    padding: 10px 5px;
    font-size: 1.5rem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    outline: none;
    border: none;
    @media (max-width: 992px) {
      border-bottom-left-radius: 0;
      border-top-right-radius: 15px;
      width: 100%;
    }

    &::placeholder {
      color: rgb(186, 185, 185) !important;
      padding-left: 35px;
      font-size: 1.5rem !important;
    }
    &:focus {
      background-image: none;
      &::placeholder {
        color: transparent !important;
      }
    }

    @include formHoverFocus();
  }

  select {
    background-color: lighten($bg-dark, 20);
    cursor: pointer;
    text-align-last: center;
    color: white;
    font-size: 1.2rem;
    height: inherit;
    outline: none;
    border: none;
    border-left: 1px solid black;
    @media (max-width: 992px) {
      border-left: none;
      margin: 1px 0;
      padding: 0.7rem;
      width: 100%;
      font-size: 1.3rem;
    }
    @include formHoverFocus();
  }
  button {
    color: white !important;
    background-color: lighten($bg-dark, 20);
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0 1rem;
    height: 99% !important;
    cursor: pointer;
    outline: none !important;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    @include formHoverFocus();
    @media (max-width: 992px) {
      width: 100%;
      padding: 0.8rem 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 15px;
    }
  }
}
