* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: 0;
  font-family: "Montserrat", sans-serif;
}
html {
  background: rgb(8, 8, 8);
  background: linear-gradient(
    0deg,
    rgba(139, 140, 137, 1) -100%,
    rgba(36, 36, 36, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

h3 {
  margin: 1rem 0;
  color: $light;
}
.container-column {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-weight: 700;
  display: inline-block;
  margin: 2rem 10px;
  padding: 1rem 2rem;
  color: $gold;
  text-align: center;
  font-size: 3rem;
  border: 0.5px solid $info;
}
