#container-column {
  background: linear-gradient(200deg, rgb(0, 0, 0), rgb(118, 118, 118)),
    url(../images/Warzone.svg);
  position: relative;
  height: 100vh;
  display: flex;
  @media (max-width: 1200px) {
    height: 800px;
  }
}

#landing-header {
  z-index: 4;
  margin-top: 200px;
  margin-left: 200px;
  width: 800px;
  font-family: "Montserrat";
  overflow-x: hidden;
  h1 {
    color: $gold;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-shadow: 3px 3px 10px $darker-grey;
  }
  p {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 3px 3px 10px $darker-grey;
  }
  button {
    color: $dark-grey !important;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 2rem;
    z-index: 3;
    background: lighten($blue, 10);
    border: 1px solid darken($blue, 20);
    padding: 10px 20px;
    box-shadow: 3px 3px 9px $darker-grey;
    &:hover,
    &:focus {
      background: lighten($blue, 20);
      box-shadow: 6px 6px 9px $darker-grey;
    }
  }

  @media (max-width: 1500px) {
    margin-left: auto;
    text-align: center;
  }
  @media (max-width: 992px) {
    margin-left: auto;
    text-align: center;
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
    button {
      width: 50%;
    }
  }
}

#warzone-svg {
  z-index: 1;
  width: 96%;
  position: absolute;
  bottom: 20%;
  overflow-x: hidden;
}

#block {
  z-index: 0;
  height: 800px;
  position: absolute;
  top: 0;
  right: 10%;

  @media (max-width: 1500px) {
    right: 50%;
    width: 100%;
    transform: translateY(-70%) translateX(50%);
    height: 500px;
  }
}
