@mixin colorAndBackground {
  background-color: $blue;
  color: #fff;
  &:hover {
    background-color: $lightblue;
    color: darken(#fff, 80);
  }
  &:focus {
    background-color: $lightblue;
    color: darken(#fff, 80);
  }
}
